@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container > div {
  padding: 0.5rem;
}

.main {
  width: 50%;
}

.sidebar_link {
  text-decoration: none;
  font-size: 0.9rem;
  color: grey;
}

.sidebar_link:hover li {
  color: rgb(15, 15, 15);
}

@media screen and (max-width: 400px) {
  .container {
    display: block;
  }

  .main {
    width: 100%;
    order: 1;
  }

  input::placeholder {
    font-size: 0.4rem;
  }
}

.toggle input[type="checkbox"] {
  opacity: 0;
  width: 70px;
  height: 30px;
}

/* .toggle {
  width: 70px;
  height: 30px;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 50px;
  float : right;
} */

@media screen and (max-width: 768px) {
  input {
    padding-left: 10px;
  }
}
